/* #########################home page########################## */
/* It has a light backgroud color */
html, body{
    background-color: #E4E4E7;
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 2.375rem;
    margin-bottom: 20px;
}
div{
    border-radius: 5px;
}
button{
    white-space: nowrap;
}

    
p{
    line-height: 1.5rem;
    font-weight: 400;
}

/* ###################header part################## */
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a{
    position: absolute;
    top: -3em;
    left: 0;
    background-color: black;
    color: white;
    padding: 10px;
}
.skip-links a:focus{
  top: 0;
}

.fixed{
    background-color: #FF9500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px 0;
    width: calc(100% - 20px);
    color: white; 
    /* It needs to stick to the top. */
}
/* Use padding to seperate the text and the arrow. */
.fixed span {
    padding-left: 10px;
}

/* Every section follows mobile-first and then desktop version */
.button-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #F1F1F3;
    width: calc(100% - 20px);
}
@media screen and (min-width: 780px) {
    .button-list {
        max-width: 1200px;
        width: 90%;
    }
}
.button-list > div{
    display: flex;
    flex-direction: row;
}
.logo{
    background-color: #FF9500;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-list nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-list nav ul li a {
    text-decoration: none;
    color: black;
    /* This is how to center the text. */
    display: block;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
}
#mobile-nav-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-list nav ul li a:hover {
    background-color: #FF9500;
    color: white;
}
.button-list .nav1 {
    display: none;
}

@media screen and (min-width: 780px) {
    .button-list .nav1 {
        display: block;
    }
    #mobile-nav-btn {
        display: none;
    }
}


/* #nav3 visibility is hidden by default, another active classname will added to this element when user click the menu button, this action is implemented by javascript */
.nav3 {
    position: relative;
    width: calc(100% - 20px);
    z-index: 1;
    display: none;
}
.nav3 ul{
    position: absolute;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.nav3 ul li a {
    text-decoration: none;
    color: black;
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
.nav3 ul li a:hover {
    text-decoration: underline;
}

.active {
    display: block;
}


/* #######################main part#################### */
/* ########banner1######### */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    padding: 20px;
}
/* The main part of the computer version is indented a little bit more than the header. */
@media screen and (min-width: 780px) {
    .main {
        max-width: 1200px;
        width: 90%;
        padding: 0;
    }
}
/* The font size is inconsistent in different versions */
.banner1 {
    margin-top: 40px;
}
.unlock{
    background-color: #F1F1F3;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    position: relative;
    padding-left: 20px;
    border: #F1F1F3;
}
.sprinkle {
    position: absolute;
    top: -20px;
    left: -10px;
}
.unlock-logo{
    height: 40px;
    width: 40px;
}
.unlock .start{
    color:#FF9500;
    ;
    padding-left: 5px;
}
.unlock .left{
    padding-left: 5px;
    font-weight: 600;
}
@media screen and (min-width: 780px) {
    .unlock > p {
        font-size: 2.25rem;
    }
}

.with{
    padding: 20px 20px;
    text-align: center; 
}
.with .online{
    font-size: 1.5rem;
    line-height: 1.5;
}
.with p{
    padding-bottom: 10px;
    line-height: 1.2;
}
@media screen and (min-width: 780px) {
    .with .online{
        font-size: 1.75rem;
    }
}
.links ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 40px;
}
.links ul li {
    padding:0 10px;
}
.links ul li a{
    text-decoration: none;
    display: block;
    height: 60px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    line-height: 60px;
    border: #F1F1F3;
    padding: 0 20px;
    white-space: nowrap;
}
.links ul li a:hover{
    background-color: #FF9500;
    color: white;
}

.brand{
    padding: 20px;
    height: 80px;
    border: #F1F1F3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FCFCFD ;
}
.brand .brand-border{
    width:auto;
    border-right: 1px solid #F1F1F3;
}
@media screen and (max-width: 540px){
    .brand-border:nth-child(n+4) {
        display: none;
    }
}

/* ########banner2######### */
.banner2{
    margin: 40px 0;
    height: 40vw;
    background-image: url(../images/brand2-780.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 780px){
    .banner2{
        background-image: url(../images/brand2-1060.png);
    }
}
/* #########################benefits######################## */
/* Benefits, courses and testimonials have the same begining. */
.benefits > .text > p, .courses > .text > p, .testimonials > .text > p{
    margin-bottom: 20px;
}
.benefits button,.courses button, .testimonials button{
    background-color: #FCFCFD;
    height: 40px;
    width: 100px;
    border: 1px solid #F1F1F3;
    font-weight: 500;
    margin-bottom: 40px;
    border-radius: 5px;
}

@media screen and (min-width: 780px){
    .benefits > .text, .courses > .text, .testimonials > .text{
        display: flex;
        justify-content: space-between;
    }
    .benefits > .text >p, .courses > .text >p, .testimonials > .text >p{
        margin-right: 60px;
    }
}

.benefits .six{
    background-color: #FCFCFD;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}
/* Use flex-grow to ensure the alignment. */
.benefits .six >  p{
    flex-grow: 1;
}
.benefits .order,.arrow {
    display: flex;
    justify-content: end;
}
.benefits h2{
    text-align:start;
    font-weight: bold;
    line-height: 3rem;
}
.benefits .arrow-border{
    border-radius: 5px;
    border: 1px solid #F1F1F3;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Use animations to enhance the user experience. */
.benefits .arrow-border{
    transition: transform 2s, background-color 2s;
}
.benefits .arrow-border:hover{
    transform:  scale(1.5);
    background-color: #FF9500;
}
@media screen and (min-width: 780px) {
    .benefits-choice{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,auto);
        gap:10px;
        margin-bottom: 40px;
    }
    .benefits .six{
        margin-bottom: 0;
    }
}
/* #######################courses part######################## */
.courses-choices .six{
    background-color: #FCFCFD;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.courses-choices .six picture{
    border-radius: 5px;
    height: 250px;
    /* overflow: hidden; */
}
/* Use width to make sure the size of images. */
.courses-choices .six picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.courses-choices .six .tag{
    display: flex;
    justify-content: start;
}
.courses-choices .tag-author{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen and (min-width: 780px) {
    .courses-choices .tag-author{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.courses-choices .tag div{
    border: 1px solid #F1F1F3;
    padding: 5px 10px;
    margin-right: 10px;
}
.courses-choices .tag-author p{
    white-space: nowrap;
}
.courses-choices .author p{
    font-size: 1.2rem;
}
.courses-choices h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.courses-choices a{
    text-decoration: none;
    color: black;
}
.courses-choices .get{
    height: 60px;
    border-radius: 5px;
    border: 1px solid #FCFCFD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F3;
}
/* Use noticeable animations to enhance the user experience. */
@keyframes border {
    from {
        border: 1px solid #FCFCFD;
    }
    to {
        border:10px solid #FF9500;
    }
}
.courses-choices .get:hover{
    animation-name: border;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 780px) {
    .courses-choices{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        gap: 10px;
    }
    .tag-author{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
/* ###################testimonials part###################### */
.testimonials{
    margin-top: 40px;
}

/* Set the bottom part as fixed size and then use flex-grow. */
.testimonials-words{
    border-radius: 5px;
    height: 350px;
    border: 1px solid #F1F1F3;
    display: flex;
    flex-direction: column;
    background-color: #FCFCFD;
}
.testimonials-words .text{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #F1F1F3;
}
.testimonials-words .text p{
    line-height: 1.5rem;
}
/* Use multiple flexs to ahieve the layout. */
.testimonials-words .introduction{
    height: 100px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.testimonials-words img{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    object-fit: cover;
}
.testimonials-words .picture-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture-name p{
    white-space: nowrap;
    line-height: 60px;
}
.testimonials-words .read{
   padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F3;
}
.picture-name > p{
    margin: 0 10px;
    white-space: nowrap;
}
.testimonials-words .introduction > .read > p{
    white-space: nowrap;
}

.testimonials .grid{
    display: flex;
    flex-direction: column;
    gap:10px;
}

@media screen and (min-width: 780px) {
    .testimonials .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
        gap:10px;
    }
}

/* #######################pricing part##################### */
.pricing{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}
.pricing .choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
/* The div of choices is use to do layout of flex, and the inner div is used to do the size. */
.pricing .choices > div {
    padding: 10px 20px;
    background-color: white;
    display: flex;
    gap: 10px;
}
.pricing button{
    background-color: #FCFCFD;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.pricing button:hover{
    color: white;
    background-color: #FF9500;
}
.pricing .price-choices{
    padding: 10px;
    width: 100%;
}
@media screen and (min-width: 780px) {
    .price-choices > div {
        display: flex;
        justify-content: space-between;
    }
    .price-choices > div > .choices-p {
        display: flex;
        align-items: center;
    }
}
/* ###########plan########### */
/* Use as much commonality as possible between the two divs to set the style */
.pricing-plan{
    background-color: #FCFCFD;
    display: flex;
    flex-direction: column;
    border: 1px solid #F1F1F3;
    padding: 20px;
    gap: 20px;
}
@media screen and (min-width: 780px) {
    .pricing-plan{
        flex-direction: row;
    }
}
.pricing-plan > div{
    border: 1px solid  #F1F1F3;
    padding: 20px;
    width: 100%;
    background-color: #fcfcfd;
    display: flex;
    flex-direction: column;
}
.pricing-plan .plan-title {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #FFEACC;
    background-color: #FFF9F0;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.plan-content{
    text-align: center;
    padding: 30px;
}
.pricing-plan .money{
    font-size: 3rem;
    line-height: 50px;
    font-weight: bold;
}
.pricing-plan .money > span{
    font-size: 1rem;
    font-weight: normal;
}
.pricing-plan .features{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #F1F1F3;
    background-color: white;
}
.pricing-plan .features .feature-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.features .title{
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}
.features .feature{
    padding: 10px;
    border: 1px solid #F1F1F3;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.features .feature div{    
    height: 20px;
    width: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF4E5;
    border: #F1F1F3;
    margin-right: 10px;
}

.features .feature-blocked div{
    background-color: white;
    border: 1px solid #F1F1F3;
}
.features .feature div span {
    font-size: 1rem;
}


.pricing-plan .features .started{
    width: 100%;
    text-align: center;
}
.pricing-plan .features .started a{
    display: block;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    color: black;
    border-radius: 0 0 5px 5px;
}
.pricing-plan .features .started a:hover{
    color: white;
    background-color: #FF9500;
}

/* ####################questions part##################### */
.questions{
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.questions > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq button{
    background-color: #FCFCFD;
    padding: 20px;
    border: 1px solid #F1F1F3;
    border-radius: 5px;
}
.questions .expended-question{
    border: 1px solid #F1F1F3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.questions .expended-question > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions .expended-question .ask{
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1px solid #F1F1F3;
}
.questions .expended-question .enroll{
    background-color: #dfdfdf;
    padding: 10px 20px;
}
.questions .expended-question .answer{
    color: #9f9f9f;
}
/* Use flex-shrink to make sure it won't be transformed. */
.questions .expended-question button, .questions .question button{
    width: 40px;
    height: 40px;
    background-color: #FFF4E5;
    border: none;
    border-radius: 5px;
    flex-shrink: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.questions .expended-question .enroll button{
    border-radius: 50%;
    background-color: #efefef;
}
.questions .question {
    border: 1px solid #F1F1F3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

@media screen and (min-width: 780px) {
    .question {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* #######################footer part##################### */
/* There is no padding in the footer part. */
footer{
    margin-top: 60px;
}
footer > div{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap:20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F1F1F3;
}
footer .logo{
    margin-bottom: 10px;
}
footer .email, footer .tel, footer .location{
    display: flex;
    align-items: center;
    padding: 5px;
}
footer .email img, footer .tel img, footer .location img{
    width: 20px;
    margin-right: 10px;
}
.home-about{
    display: flex;
    justify-content: space-between;
}
.home-about div{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}
.home-about div a{
    text-decoration: none;
    color: black;
}
.home-about div h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.social-column{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F1F1F3;
    padding-top: 30px;
}
.social-column h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.social-column div{
    display: flex;
}
.social-columndiv img{
    width: 20px;
    height: 20px;
}
.social-column div div{
    width: 30px;
    height: 30px;
    background-color: #FCFCFD;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p{
    text-align: center;
    background-color: #FFFFFF;
    padding: 20px 0;
}
@media screen and (min-width: 780px){
    footer > div {
        flex-direction: row;
        justify-content: space-between;
    }
    .home-about-social{
        display: flex; 
        gap: 60px;
        align-items: start;
    }
    .home-about{
        gap:60px;
    }
    .social-column{
        padding-top: 0;
    }
}


/* ##############################course page####################### */
/* #################design-course part############# */
.online-courses{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F1F1F3;
    margin-bottom: 40px;
}
@media screen and (min-width: 780px){
    .online-courses{
        flex-direction: row;
        justify-content: space-between;
    }
    .online-courses > div {
        flex-shrink: 0; 
        flex-grow: 0;
        width: 50%;
    }
    .online-courses .title{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .online-courses .title h1{
        margin-bottom: 0;
    }
}
/* ##############course-introduction part######### */
.course-introduction{
    gap:20px;
    display: flex;
    flex-direction: column;
}

.course-general{
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.course-head{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.course-introduction h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.course-head button{
    background-color: #FCFCFD;
    height: 40px;
    width: 100px;
    border: 1px solid #F1F1F3;
    font-weight: 500;
    margin: 20px 0;
}
@media screen and (min-width: 780px){
    .course-head{
        flex-direction: row;
        gap:40px;
    }
}
.course-pictures{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 300px; */
    gap: 10px;
}
.course-pictures picture{
    /* width: calc(33.3% - 6.7px); */
    flex: 1;    /* flex-grow: 1, flex-shrink: 1 */
}
/* The width of img is used to make sure the layout. */
.course-pictures picture img{
    aspect-ratio: 1 / 1;     /* Length-to-width ratio 1:1 */
    width: 100%;
    object-fit: cover;
}
.courses-general .tag-author{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.course-general .tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}
.course-general .tag > div{
    padding: 10px;
    border: 1px solid #F1F1F3;
}
.course-general .tag-author .author{
    padding: 20px 0;
    font-weight: 500;
}
@media screen and (min-width: 780px) {
    .courses-general .tag-author{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.courses-general .tag div{
    border: 1px solid #F1F1F3;
    padding: 5px 10px;
    margin-right: 10px;
}
.courses-general .tag-author p{
    white-space: nowrap;
}
.courses-general .author p{
    font-size: 1.2rem;
}

.curriculum{
    display: flex;
    flex-direction: column;
    border: 1px solid #F1F1F3;
}
.curriculum-title{
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #F1F1F3;
}
.curriculum-details{
    padding: 20px;
    gap:20px;
    border: 1px solid #F1F1F3;
    display: flex;
    flex-direction: column;
}
.curriculum-details .details{
    padding: 20px 0;
    border-bottom: 1px solid #F1F1F3;
}
.curriculum-details .details h3{
    font-size: 1.375rem;
    font-weight: 800;
    padding-bottom: 10px;
}
@media screen and (min-width: 780px){
    .curriculum-details{
        flex-direction: row;
    }
    .curriculum-details .details{
        border-right: 1px solid #F1F1F3;
        width: 20%;
    }
    .curriculum-details .details:last-child{
        border-right: none;
    }
}


/* ###############################about page###################### */
/* #################skillbridge part############### */
.skillbridge{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F1F1F3;
    margin-bottom: 40px;
}
@media screen and (min-width: 780px){
    .skillbridge{
        flex-direction: row;
        justify-content: space-between;
    }
    .skillbridge > div {
        flex-shrink: 0; 
        flex-grow: 0;
        width: 50%;
    }
    .skillbridge .title{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skillbridge .title h1{
        margin-bottom: 0;
    }
}
/* ##################achievements and goals part############ */
.achievements{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.head-part{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 20px;
}
.head-part h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.details-part{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.details-box{
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.details-logo{
    height: 40px;
    width: 40px;
    border: 1px solid #FFEACC;
    background-color: #FFF9F0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details-box h3{
    font-weight: 600;
    margin-bottom: 10px;
}
@media screen and (min-width: 780px){
    .details-part{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}
.goals{
    margin-bottom: 40px;
}
/* ################together part############# */
/* If the background of .together is not set, it will be transparent and the color will be set on outer */
.together-outer {
    padding: 20px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
/* Absolute, top and right are used together.  Height is used to control the size.*/
.together-outer img {
    position: absolute;
    z-index: 0;
    top: 60%;
    right: -5%;
    height: 60%;
}
@media screen and (min-width: 780px){
    .together-outer img {
        top: 0;
        right: 10%;
        height: 100%;
    }
}
.together{
    display: flex;
    flex-direction: column;
    position: relative;
    /* Only when the position property is set, z-index will work */
    z-index: 1;
}
.together > div > div > p{
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.together > div > div > p >span{
    color: #FF9500;
}
.together .slogan{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.together button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    border: 1px solid #F1F1F3;
    border-radius: 5px;
}
.together button:hover{
    background-color: #FF9500;
    color: #FFFFFF;
}
@media screen and (min-width: 780px){
    .together{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}