/* It has a light backgroud color */
html, body{
    background-color: rgb(234, 238, 238);
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 2rem;
}
/* #########header part########## */
.head{
    margin: 20px;
}
.fixed{
    background-color: #FF9500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    /* It needs to stick to the top. */

}
.fixed p{
    color: white; 
}
/* Use padding to seperate the text and the arrow. */
.fixed p span {
    padding-left: 10px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.logo{
    background-color: #FF9500;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation nav ul li a {
    text-decoration: none;
    color: black;
    /* This is how to center the text. */
    display: block;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
}
.navigation nav ul li button{
    width: 40px;
    height: 40px;
    /* This is how to center a picture. */
    display: flex;
    justify-content: right;
    align-items: center;
    border: none;
}
.navigation nav ul li a:hover {
    background-color: #FF9500;
    color: white;
}

.head hr {
    border: 1px #F1F1F3 solid;
}

/* ###############main part############### */
/* ########banner1######### */
.main{
    /* margin: 20px; */
    padding: 20px;
}
.banner1 {
    margin-top: 40px;
}
.unlock{
    background-color: #FCFCFD;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    position: relative;
    padding-left: 20px;
    border: #F1F1F3;
}
.sprinkle {
    position: absolute;
    top: -20px;
    left: -10px;
}
.unlock-logo{
    height: 50px;
    width: 50px;
}
.unlock .start{
    color:#FF9500;
    ;
    padding-left: 5px;
}
.unlock .left{
    padding-left: 5px;
    font-weight: bold;
}
.with{
    padding: 20px 40px;
    text-align: center; 
}
.with .online, .development{
    font-size: 2rem;
}
.with p{
    padding-bottom: 10px;
}
.links ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 40px;
}
.links ul li {
    padding:0 10px;
}
.links ul li a{
    text-decoration: none;
    display: block;
    height: 60px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    line-height: 60px;
    border: #F1F1F3;
    padding: 0 20px;
    white-space: nowrap;
}
.links ul li a:hover{
    background-color: #FF9500;
    color: white;
}
.brand{
    padding: 20px;
    height: 80px;
    border: #F1F1F3;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FCFCFD ;
}
.brand .brand-boder{
    width:auto;
    border-right: 1px solid #F1F1F3;
}

/* ########banner2######### */
.banner2{
    margin: 40px 0;
    height: 250px;
    width: calc(100%-40px);
    background-image: url(../images/brand2-s.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #########benefits####### */
h1{
    margin-bottom: 20px;
}
/* Benefits, courses and testimonials have the same begining. */
.benefits p, .courses p, .testimonials > p{
    margin-bottom: 20px;
    line-height: 1.5rem;
}
.benefits button,.courses button, .testimonials button{
    background-color: #FCFCFD;
    height: 40px;
    width: 100px;
    border: 1px solid #F1F1F3;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 40px;
}
.benefits .six{
    background-color: #FCFCFD;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
}
.benefits .order,.arrow {
    display: flex;
    justify-content: end;
}
.benefits .text h2{
    text-align:start;
    font-weight: bold;
    line-height: 3rem;
}
.benefits .arrow-border{
    border-radius: 5px;
    border: 1px solid #F1F1F3;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #########courses####### */
.courses-choices .six{
    background-color: #FCFCFD;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.courses-choices .six img{
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
}
.courses-choices .six .tag{
    display: flex;
    justify-content: start;
}
.courses-choices .tag div{
    border: 1px solid #F1F1F3;
    height: 30px;
    width: 100px;
    margin: 20px 20px 20px 0;
    border-radius: 5px;
}
.courses-choices .tag p{
    text-align: center;
    line-height: 30px;
}

.courses-choices .author{
    font-size: 1.2rem;
}
.courses-choices h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.courses-choices a{
    text-decoration: none;
    color: black;
}
.courses-choices .get{
    height: 60px;
    border-radius: 5px;
    border: 1px solid #FCFCFD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 238, 238);
}

/* #########testimonials####### */
.testimonials{
    margin-top: 40px;
}

/* Set the bottom part as fixed size and then use flex-grow. */
.testimonials-words{
    border-radius: 5px;
    height: 350px;
    border: 1px solid #F1F1F3;
    display: flex;
    flex-direction: column;
    background-color: #FCFCFD;
    margin-bottom: 20px;
}
.testimonials-words .text{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #F1F1F3;
}
.testimonials-words .text p{
    line-height: 1.5rem;
}
/* Use multiple flexs to ahieve the layout. */
.testimonials-words .introduction{
    height: 100px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.testimonials-words img{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    object-fit: cover;
}
.testimonials-words .picture-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials-words .read{
    width: 240px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    background-color: rgb(234, 238, 238);
}
.testimonials-words div{
    margin-right: 10px;
}
.testimonials-words .introduction > p{
    margin-right: 40px;
}

/* ###############pricing############## */
.pricing{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pricing div > p{
    line-height: 1.5rem;
}
.pricing .choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
/* The div of choices is use to do layout of flex, and the inner div is used to do the size. */
.pricing .choices > div {
    border: 1px solid #F1F1F3;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}
.pricing button{
    background-color: #FCFCFD;
    height: 40px;
    width: 100px;
    border: 1px solid #F1F1F3;
    border-radius: 5px;
    font-weight: bold;
}
.pricing button:hover{
    color: white;
    background-color: #FF9500;
}
.pricing > div{
    padding: 20px;
    width: 100%;
}
/* ###########plan########### */
/* Use as much commonality as possible between the two divs to set the style */
.pricing-plan{
    background-color: #FCFCFD;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #F1F1F3;
}
.pricing-plan > div{
    border: 1px solid  #F1F1F3;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    background-color: rgb(234, 238, 238);
}
.pricing-plan .plan-title{
    width: 100%;
}
.pricing-plan .plan-title > div{
    border-radius: 5px;
    border: 1px solid #FFEACC;
    background-color: #FFF9F0;
    /* width: calc(100%-20px); */
    display: flex;
    justify-content: center;
    padding: 20px;
    /* margin-bottom: 20px; */
}
.plan-content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px 0; */
    height: 80px;
    margin-top: 20px;
}
.pricing-plan .money{
    font-size: 3rem;
    font-weight: bold;
}
.pricing-plan .money > span{
    font-size: 1rem;
    font-weight: normal;
}
.pricing-plan .features{
    display: flex;
    flex-direction: column;
    border: 1px solid #F1F1F3;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    width: 100%;
}
.features .title{
    height: 60px;
    line-height: 60px;
    /* margin: 20px 0; */
}
.features > .title >h2{
    font-size: 1.5rem;
    font-weight: 500;
}
.features .feature1, .feature2{
    height: 40px;
    border: 1px solid #F1F1F3;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    height: 60px;
    padding: 10px;
}
.features .feature1 div, .features .feature2 div{    
    height: 20px;
    width: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.features .feature1 div{
    background-color: #FFF4E5;
    border: #F1F1F3;
}
.feature1 div, .feature2 div{
    margin-right: 5px;
}
.pricing-plan .features .started{
    border: 1px solid #F1F1F3;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
}
.pricing-plan .features .started a{
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 0 0 5px 5px;
}
/* .pricing-plan .features .started:hover{    
    
} */
.pricing-plan .features .started a:hover{
    color: white;
    background-color: #FF9500;
}

/* ####################questions part##################### */
.questions{
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
}
.questions div p{
    margin-bottom: 20px;
    line-height: 1.5rem;
}
.faq button{
    background-color: #FCFCFD;
    height: 40px;
    width: 100px;
    border: 1px solid #F1F1F3;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 40px;
}
.questions > div{
    border: 1px solid red;
}
.questions .can, .what{
    padding: 20px;
    border-radius: 5px;
}
.questions .can .enroll{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F3;
}
.questions .can .absolutely{
    padding-top: 20px;
}
.questions .can .process{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}
.questions .what{
    display: flex;
    align-items: cenrter;
    border: 1px solid #F1F1F3;
    margin-bottom: 20px;
}
/* #################footer############## */
footer > div{
    padding: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer .email, .tel, .location{
    display: flex;
    margin-bottom: 10px;
}
footer .part2{
    display: flex;
    justify-content: space-between;
}
footer .part2 div{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}
footer .part2 div a{
    text-decoration: none;
    color: black;
}
footer .part2 div h3{
    font-weight: 500;
    margin-bottom: 10px;
}
footer .part3{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F1F1F3;
}
footer .part3 h3{
    font-weight: 500;
    margin-bottom: 10px;
}
footer .part3 div{
    display: flex;
}
footer .part3 div img{
    width: 20px;
    height: 20px;
}
footer .part3 div div{
    width: 30px;
    height: 30px;
    background-color: #FCFCFD;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p{
    text-align: center;
    margin-top: 10px;
}